.top-bar {
    background: #246EB9;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    position: absolute;
}
.alert-bar {
    display: none;
    opacity: 0;
    background: #65bd2a;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 50px;
    top: 50px;
    left: 0;
    position: absolute;
}
.alert-text {
    top: 15px;
    position: absolute;
}
.hamburger {
    width: 20px;
    margin: 0 10px 12px 20px;
}
.header-img {
    width:40px;
    margin:5px;
}
.mouse-off {
    pointer-events: none;
}
.header-back {
    text-align: right;
    display: none;
    opacity: 0;
    background-color: #246EB9;
    float: right;
    clear: right;
    margin-top: -10px;
    margin-right: 1px;
}
.header-dark {
    background-color: #145EA9;
}
.header-right-link, .header-right {
    margin: 15px 25px 10px 0px;
    text-decoration: none;
    color: #FFF;
    float: right;
}
.hamburger-menu-link {
    margin: 10px 25px 10px 25px;
    text-decoration: none;
    cursor: pointer;
    color: #FFF;
    display: block;
}
.hamburger-menu-link:hover {
    text-decoration: underline;
}
.header-right-link:hover {
    text-decoration: underline;
}
body {
    font-family: 'Alegreya Sans';
    color:  #333;
    background-color: #Ffa955;
    font-size: 18px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.landing-main-content {
    margin-top: 150px;
    margin-bottom: 100px;
}
.landing-form-content {
    width: 300px;
}
th {
    font-style: italic;
}
.link-in-text {
    color: #246EB9;
    text-decoration: none;
}
.link-in-text:hover {
    text-decoration: underline;
}
.big-logo {
    width: 300px;
    height: 300px;
    margin-right: 50px;
}
#in {
    visibility: hidden;
    opacity:0;
}

#to-fade-out {
    height: 100px;
    opacity: 1;
    transition: opacity 1s linear;
}
#to-fade-in {
    height: 100px;
    opacity: 0;
    transition: opacity 1s linear;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right {
    float: right;
    clear: right;
}

.left {
    float: left;
    clear: left;
}

.body-fixed-from-top {
    margin-top: 150px;
    margin-bottom: 50px;
    align-items: initial;
    justify-content: inherit;
    margin-left: 100px;
}
.slender-form {
    margin-top: 10%;
    margin-bottom: 5%;
    width: 300px;
}
.slender-form-div {
    margin: 10px;
}
.rounded {
    border: #246EB9 3px solid;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -khtml-border-radius: 3px;
}

table,tr,td, th {
    border: 0px;
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
}

.text-right {
    text-align: right;
    padding-left: 30px;
}

.row-highlight:hover {
    background-color: #Ffba6a;
}

.text-input {
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    color: #111111;
    //background-color:#ffffff;
    font-size: 16px;
    padding: 5px;
}

select {
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    color: #111111;
    font-size: 18px;
    padding: 5px;
}
.btn {
    background: #65bd2a;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    color: #ffffff;
    font-size: 6vm;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: 1px white solid;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-error {
    color: red;
    font-size: 130%;
    margin-top: -60px;
    margin-left: 10px;
}

.btn-disabled {
    background: #666666;
}
.btn-disabled:hover {
    background: #666666;
}

.btn:hover {
    background: #25dd2e;
    text-decoration: none;
}

.table-center {
    margin-top:10%;
    margin-left:25%;
    margin-right:25%;
    border: white 3px solid;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -khtml-border-radius: 3px;
    padding: 25px;
}

.marketing-block-a {
    height: 500px;
    background-color: #F5EE9E;
}

.marketing-block-b {
    height: 50px;
    background-color: #246EB9;
}

.marketing-left {
    margin: 50px 0px 0px 50px;
    width: 40%;
    float: left;
}

.marketing-right {
    margin: 50px 50px 0px 0px;
    width: 35%;
    float: right;
}

.header-desc {
    color: #fff;
    float: left;
    margin: 15px 0px 0px 15px;
}

.light {
    color:  #fff;
}

.dark {
    color: #333;
}
.bottom-info {
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    color: #fff;
}