body {
    font-family: Arial;
    background-color: #9c9ba2;
    color: #ffffff;
    width: 100%;
}
#in {
    visibility: hidden;
    opacity:0;
}
#out {

}
#to-fade-out {
    height: 100px;
    opacity: 1;
    transition: opacity 1s linear;
}
#to-fade-in {
    height: 100px;
    opacity: 0;
    transition: opacity 1s linear;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right {
    float: right;
}

.left {
    float: left;
}

.body-fixed-from-top {
    margin-top: 150px;
    align-items: initial;
    justify-content: inherit;
    margin-left: 100px;
}
.slender-form {
    margin-top: 10%;
    width: 200px;
}

.rounded {
    margin: 10% 20% 5% 20%;
    font-size: 4vw;
    text-align: center;
    padding: 25px;
    border: white 3px solid;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -khtml-border-radius: 3px;
}

.text-input {
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    color: #111111;
    //background-color:#ffffff;
    font-size: 16px;
    padding: 5px;
}

.btn {
    background: #65bd2a;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    color: #ffffff;
    font-size: 6vm;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: 1px white solid;
    cursor: pointer;
}

.btn:hover {
    background: #25dd2e;
    text-decoration: none;
}