@(username: Option[String])
<script>
    $(function() {
        $("#overallHamburger").mouseenter(function() {
            openMenu();
        });
        $("#overallHamburger").mouseleave(function() {
           closeMenu()
        });

    });

    function openMenu() {
        $('#hamburgerMenu').css('display','inline');
        $('#hamburgerMenu').css('opacity','0');
        $('#hamburgerMenu').animate({opacity:1},100);
    }

    function closeMenu() {
        $('#hamburgerMenu').animate({opacity:0},100);
        $('#hamburgerMenu').css('display','none');
    }
</script>
<div class="top-bar">
    <a href="/"><img src="/assets/images/circleStatsLogo.png" class="header-img left"></a>
    <span class="header-desc">CircleStats</span>

    @username match {
        case Some(u) => {
            <div id="overallHamburger">
                <span class="header-right"><img id="hamburger" class="hamburger" src="/assets/images/hamburger.png"></span>
                <span class="header-right mouse-off" id="hi">Hi, @u</span>
                <div id="hamburgerMenu" class="header-back rounded header-dark">
                    <a class="hamburger-menu-link" href="/profile">Profile</a>
                    <a class="hamburger-menu-link" href="/reviews">Reviews</a>
                    <a class="hamburger-menu-link" href="/signOut">Sign Out</a>
                </div>
            </div>
        }
        case None => {
            <a href="/signIn" class="header-right-link">Sign In</a>
            <a href="/profile" class="header-right-link">Join</a>
        }
    }
</div>
<div class="alert-bar">
    <span class="alert-text">Working</span>
</div>
    <script>
        function showWorking() {
            window.alerted = true;
            $('.alert-bar').css("display", "inherit");
            $('.alert-bar').animate({opacity:1},500);
            setTimeout(work, 250);
        }
        function work() {
            $('.alert-text').html($('.alert-text').html() + '.');
            if (window.alerted != undefined && window.alerted)
                setTimeout(work, 500);
            else
                $('.alert-bar').animate({opacity:0},500);
        }
    </script>