@(username: Option[String])
<!DOCTYPE html>
<html>
    <head>
        @common()
    <script>
            var submitted = false;
            $(function() {
                $("#name").keypress(function(event) {
                    if (event.which == 13) {
                        event.preventDefault();
                        $("#create").click();
                    }
                });
                $('#create' ).click(function() {
                    if ($('#name').val() == "") {
                        $('#email-error').html("Please enter something").addClass("form-error");
                        return;
                    }
                    if (submitted) return;
                    submitted = true;
                    $('#create').addClass("btn-disabled");
                     $("#slide-out").css("opacity","0");
                    $.ajax({type: "POST", url: "/getHash", data: $("form").serialize(), success: function(data) {
                    submitted = false;
                    var fullReviewsHashLink = window.location.href+"review/" + data.reviewsHash;
                    var fullResultsHashLink = window.location.href+"results/" + data.resultsHash;
                        $('#out').animate({opacity:0},250,function() {
                            $('#out').css('display','none');
                            $("#review-link" ).html("Use <a class='link-in-text' href='"+ fullReviewsHashLink+ "'>this</a> link to submit reviews.");
                            $("#results-link" ).html("Use <a class='link-in-text' href='"+fullResultsHashLink+ "'>this</a> link to see review results.");
                            $('#in').css('visibility','visible');
                            $('#in').css('opacity','0');
                            $('#in').animate({opacity:1},250);
                        });
                    }});
                });
            });

        </script>
    </head>
    <body>
        @header(username)
        <div class="flex-center landing-main-content">
        <div>
            <img class="big-logo" src="/assets/images/circleStatsLogo.png">
        </div>
        <div class="flex-center landing-form-content">
                <div id="out">
                    <form>
                        Reviewing <input class="text-input" placeholder="Type Name Here" id="name" name="name"> <span id="email-error"></span>
                    </form>
                    <br>
                    <a class="btn" id="create">Create Review</a>
                </div>
                <div id="in">
                    <div id="review-link" class="scaling-text">.</div>
                    <div id="results-link" class="scaling-text">.</div>
                </div>
        </div>
        </div>
    </body>
</html>

