@import db.User
@(usernameOpt: Option[String], email: String, username: String)
<!DOCTYPE html>
<html>
    <head>
        <title>Create & Change Profile Information</title>
        @common()
        <script>
            var submitted = false;
            $(function() {
                $("#username").keypress(function(event) {
                    if (event.which == 13) {
                        event.preventDefault();
                        $("#update-profile").click();
                    }
                });
                $("#email").keypress(function(event) {
                    if (event.which == 13) {
                        event.preventDefault();
                        $("#update-profile").click();
                    }
                });
                $("#passwordHash").keypress(function(event) {
                    if (event.which == 13) {
                        event.preventDefault();
                        $("#update-profile").click();
                    }
                });
                $('#update-profile' ).click(function() {
                    $('#profile-error').html("");
                    if ($('#username').val() == '') {
                        $('#profile-error').html("Please enter a username").addClass("form-error");
                        return;
                    }
                    if ($('#email').val().indexOf('@@')<1 || $('#email').val().indexOf('.')<1) {
                        $('#profile-error').html("Please enter a valid email address").addClass("form-error");
                        return;
                    }
                    if ($('#passwordHash').val() == '') {
                        $('#profile-error').html("Please enter a password").addClass("form-error");
                        return;
                    }
                    $('#update-profile').addClass('btn-disabled');
                    if (submitted) return;
                    submitted = true;
                    $.ajax({type: "POST", url: "/profile", data: $("form").serialize(), dataType: 'json', success: function(data) {
                    submitted = false;
                    $('#update-profile').removeClass('btn-disabled');
                    if (data.usernameExists)
                        $('#profile-error').html("That username is being used").addClass("form-error");
                    else
                        window.location.replace("/")
                    }});
                });
            });
    </script>
    </head>
    <body>
        @header(usernameOpt)
        <div class="flex-center">
            <form class="slender-form" id="form" action="/profile" method="POST">
                @if(usernameOpt == None) {
                    Join for Free
                } else {
                    Update Profile
                }
                <br>
                <br>
                <span id="email-label" class="input-label left">Username </span><input class="text-input right" id="username" name="username" value="@username">
                <span id="email-label" class="input-label left">Email </span><input class="text-input right" id="email" name="email" value="@email">
                <span class="input-label left">Password </span><input type="password" class="text-input right" id="passwordHash" name="passwordHash">
                <br><br><br><br><br><br><br>
                <a id="update-profile" class="btn">@if(usernameOpt == None) {
                    Join
                } else {
                    Update
                }</a>
            </form>
            <span id="profile-error"></span>
        </div>
    </body>
 </html>