@import db.User
@(emailOpt: Option[String], email: String)
<!DOCTYPE html>
<html>
    <head>
        @common()
        <script>
            var submitted = false;
            $(function() {
                $("#email").keypress(function(event) {
                    if (event.which == 13) {
                        event.preventDefault();
                        $("#update-profile").click();
                    }
                });
                $("#password").keypress(function(event) {
                    if (event.which == 13) {
                        event.preventDefault();
                        $("#update-profile").click();
                    }
                });
                $('#update-profile' ).click(function() {
                    $('#email-error').html("");
                    if ($('#email').val().indexOf('@@')<1 || $('#email').val().indexOf('.')<1) {
                        $('#email-error').html("Please enter an email address").addClass("form-error");
                        return;
                    }
                    $('#update-profile').addClass('btn-disabled');
                    if (submitted) return;
                    submitted = true;
                    $.ajax({type: "POST", url: "/profile", data: $("form").serialize(), dataType: 'json', success: function(data) {
                    submitted = false;
                    $('#update-profile').removeClass('btn-disabled');
                    if (data.emailExists)
                        $('#email-error').html("That email is being used").addClass("form-error");
                    else
                        window.location.replace("/")
                    }});
                });
            });
    </script>
    </head>
    <body>
        @header(emailOpt)
        <div class="flex-center">
            <form class="slender-form" id="form" action="/profile" method="POST">
                <span id="email-label" class="input-label left">Email </span><input class="text-input right" id="email" name="email" value="@email">
                <span class="input-label left">Password </span><input type="password" class="text-input right" id="passwordHash" name="passwordHash">
                <br><br><br><br><br>
                <a id="update-profile" class="btn">Save</a>
            </form>
            <span id="email-error"></span>
        </div>
    </body>
 </html>