@import db.ReviewInfo
@(username: Option[String], reviewInfoList: List[ReviewInfo])
<!DOCTYPE html>
<html>
    <head>
        @common()
    <script>
            var submitted = false;
            $(function() {
                $("#name").keypress(function(event) {
                    if (event.which == 13) {
                        event.preventDefault();
                        $("#create").click();
                    }
                });
                $('#create' ).click(function() {
                    if ($('#name').val() == "") {
                        $('#error').html("Please enter something").addClass("form-error");
                        return;
                    }
                    if (submitted) return;
                    submitted = true;
                    $('#create').addClass("btn-disabled");
                    ga('send', 'event', 'button', 'click', 'add-review',1);
                    $.ajax({type: "POST", url: "/getHash", data: $("form").serialize(), success: function(data) {
                        submitted = false;
                        window.location.replace("/reviews")
                    }});
                });
            });

        </script>

    </head>
    <body>
        @header(username)
        <div class="table-center">
            Create and Lookup Reviews<br><br>
            <form><input type="textbox" class="text-input" placeholder="Type Name Here" name="name" id="name">&nbsp;<a class="btn" id="create">Create Review</a><span id="error"></span></form>
            <br><br>
            <div>Reviews</div>
            <table class="odd-row">
                @for(reviewInfo <- reviewInfoList) {
                    <tr>
                        <td>@reviewInfo.name</td><td><a class="link-in-text" href="/results/@reviewInfo.resultsHash">Results</a></td><td><a class="link-in-text" href="/review/@reviewInfo.reviewsHash">Review</a></td>
                    </tr>
                 }
            </table>
        </div>
    </body>
</html>