@(reviewsHash: String, name: String, attributes: Array[String])
<!DOCTYPE html>
<html>
<head>
        @common()
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
        <script>

            $(function() {
                $('#save' ).click(function() {
                    $.ajax({type: "POST", url: "/save/@reviewsHash", data: $("form").serialize(), success: function(data) {
                        window.location.replace("/thanks")
                        }
                    })
                });
                var attributes = [
                    @for(attribute <- attributes) {
                        "@attribute",
                    }
                ];
                attributes.forEach(function(attribute) {
                    var form = document.getElementById ( "form" );
                    var formMarker = document.getElementById ( "formMarker" ) ;
                    var selectBox = document.createElement ( "select" ) ;
                    $(selectBox).addClass('right');
                    var textSpan = document.createElement ("span");
                    $(textSpan).addClass('left');
                    var description = document.createTextNode ( attribute + " " ) ;
                    form.insertBefore ( textSpan, formMarker ) ;
                    textSpan.appendChild( description);
                    selectBox.setAttribute ( "name", attribute ) ;
                    form.insertBefore ( selectBox, formMarker ) ;
                    for ( i = 0 ; i <= 10 ; i ++ ) {
                        var option = document.createElement ( "option" ) ;
                        option.setAttribute ( "value", i ) ;
                        option.innerHTML = i ;
                        selectBox.appendChild ( option ) ;
                    }
                    var br = document.createElement ( "br" ) ;
                    form.insertBefore ( br, formMarker ) ;
                });
            });
        </script>
</head>
<body class="flex-center">
    <form class="slender-form" id="form" action="/save/@reviewsHash" method="POST">
        <input type="hidden" name="reviewsHash" value="@reviewsHash"/>
        Reviewing @name
        <br>
        <span class="left">You are a </span><select class='right' name="reviewerType">
            <option value="@controllers.Const.REVIEWER_TYPE_PEER">Peer</option>
            <option value="@controllers.Const.REVIEWER_TYPE_SELF">Self</option>
            <option value="@controllers.Const.REVIEWER_TYPE_MANAGER">Manager</option>
        </select>
        <br>
        <div id="formMarker"></div>
        <br>
        <a id='save' class="btn" href="#">Save Review</a>
    </form>
</body>
</html>
