@(reviewsHash: String, name: String, attributes: Array[String])
<!DOCTYPE html>
<html ng-app>
<head>
        @common()
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
        <script src="https://code.angularjs.org/1.4.5/angular.min.js"></script>
        <script>

            $(function() {
                $('#save' ).click(function() {
                    $.ajax({type: "POST", url: "/save/@reviewsHash", data: $("form").serialize(), success: function(data) {
                        window.location.replace("/thanks")
                        }
                    })
                });

function StyledSelect(selector, inputSelector, translate) {

      var self = $(selector);
      var lis = $(selector + ' ul li');
      var span = $(selector + ' span');
      lis.each(function(li) {
        $(lis[li]).click(function(e) {
          if (translate == undefined)
            $(inputSelector).val($(this).text());
          else
            $(inputSelector).val(translate($(this).text()));
          span.html($(this).text());
        })
      });
      $(self).click(function(el) {
        $(selector + ' ul').toggleClass('closed');
      });

      $(self).blur(function(el) {
        if (!$(selector + ' ul').hasClass('closed'))
          $(selector + ' ul').toggleClass('closed');
        return false;
      });
    }

                var attributes = [@for(attribute <- attributes) {"@attribute",}];
                var styledSelects = [];
                attributes.forEach(function(attribute) {
                    styledSelects.push(new StyledSelect('#styled-select-'+attribute,'#'+attribute));
                });
                styledSelects.push(new StyledSelect('#styled-select-reviewerType','#reviewerType', function(val) {
                    if (val == "Peer") return @controllers.Const.REVIEWER_TYPE_PEER;
                    if (val == "Self") return @controllers.Const.REVIEWER_TYPE_SELF;
                    if (val == "Manager") return @controllers.Const.REVIEWER_TYPE_MANAGER;
                }));
            });
        </script>
</head>
<body>
    @header()
    <div class="flex-center">
    <form class="slender-form" id="form" action="/save/@reviewsHash" method="POST">
        <input type="hidden" name="reviewsHash" value="@reviewsHash"/>
        Reviewing @name
        <br>
        <br>
        <input type=text name="reviewerType" id="reviewerType" style="display:none;" value="@controllers.Const.REVIEWER_TYPE_PEER">
        <span class="styled-select-label left">You are a </span>
        <div id="styled-select-reviewerType" class="styled-select right" tabindex="1">
            <span>Peer</span>
            <ul class="options closed">
                <li>Peer</li>
                <li>Self</li>
                <li>Manager</li>
            </ul>
        </div>

        <div ng-repeat='n in [@for(attribute <- attributes) {"@attribute",}] track by $index'>
            <input type=text id="{{n}}" style="display:none;" value="0">
            <span class="styled-select-label left">{{n}}</span>
            <div id="styled-select-{{n}}" class="styled-select right" tabindex="1">
                <span>0</span>
                <ul class="options closed">
                    <li ng-repeat='n in [0,1,2,3,4,5,6,7,8,9,10] track by $index'>{{n}}</li>
                </ul>
            </div>
            <br>
        </div>
        <div id="formMarker"></div>
        <br ng-repeat='n in [1,2,3,4,5,6]'>
        <a id='save' class="btn" href="#">Save Review</a>
    </form>
    </div>
</body>
</html>
