@import play.api.Play.current
@import play.api.Play
@(username: Option[String], collapsedReviewInfoList: List[Collapsed])
<!DOCTYPE html>
<html>
    <head>
        @common()
    <script>
            var submitted = false;
            $(function() {
                $("#name").keypress(function(event) {
                    if (event.which == 13) {
                        event.preventDefault();
                        $("#create").click();
                    }
                }).focus();
                $('#create' ).click(function() {
                    if ($('#name').val() == "") {
                        $('#error').html("Please enter something").addClass("form-error");
                        return;
                    }
                    if (submitted) return;
                    submitted = true;
                    $('#create').addClass("btn-disabled");
                     @if(Play.configuration.getBoolean("live-site").get == true) {
                         ga('send', 'event', 'button', 'click', 'add-review',1);
                     }                  showWorking();
                    $.ajax({type: "POST", url: "/getHash", data: $("form").serialize(), success: function(data) {
                        submitted = false;
                        window.location.replace("/reviews")
                    }});
                });
            });

        </script>

    </head>
    <body>
        @header(username)
        <div class="table-center">
            Create and Lookup Reviews<br><br>
            <form><input type="textbox" class="text-input" placeholder="Type Name Here" name="name" id="name">&nbsp;<a class="btn" id="create">Create Review</a><span id="error"></span></form>
            <br><br>
            <div>Reviews</div>
            <table>
                <tr>
                    <th>Name</th>
                    <th class="text-right">Results Link</th>
                    <th class="text-right">Peer Link</th>
                    <th class="text-right">Self Link</th>
                    <th class="text-right">Manager Link</th>
                </tr>
                @for(collapsedReviewInfo <- collapsedReviewInfoList) {
                    <tr class="row-highlight">
                        <td>@collapsedReviewInfo.name</td>
                        <td class="text-right"><a class="link-in-text dark-link" href="/results/@collapsedReviewInfo.resultsHash">Results</a></td>
                        <td class="text-right"><a class="link-in-text dark-link" href="/review/@collapsedReviewInfo.peerHash">Review</a></td>
                        <td class="text-right"><a class="link-in-text dark-link" href="/review/@collapsedReviewInfo.selfHash">Review</a></td>
                        <td class="text-right"><a class="link-in-text dark-link" href="/review/@collapsedReviewInfo.managerHash">Review</a></td>
                    </tr>
                 }
            </table>
        </div>
    </body>
</html>