<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script>
            $(function() {
                $('#create' ).click(function() {
                    $.ajax({type: "POST", url: "/getHash", data: $("form").serialize(), success: function(data) {
                        $("#review-link" ).html("Use <a href='/review/" + data.reviewHash + "'>this</a> link to submit a review.");
                        $("#results-link" ).html("Use <a href='/results/" + data.resultsHash + "'>this</a> link to see review results.");
                    }});
                });
            });

        </script>
    </head>
    <body>
        <form>
            Name: <input name="name">
        </form>
        <a id="create">Create</a>
        <div id="review-link"></div>
        <div id="results-link"></div>
    </body>
</html>

