<!DOCTYPE html>
<html>
    <head>
        @common()
        <script>
            $(function() {
                $('#create' ).click(function() {
                    $.ajax({type: "POST", url: "/getHash", data: $("form").serialize(), success: function(data) {
                        $("#review-link" ).html("Use <a href='/review/" + data.reviewsHash + "'>this</a> link to submit reviews.");
                        $("#results-link" ).html("Use <a href='/results/" + data.resultsHash + "'>this</a> link to see review results.");
                    }});
                });
            });

        </script>
    </head>
    <body class="body-fixed-from-top">
        <div class="form-left">
            <form>
                Name: <input name="name">
            </form>
            <br>
            <a class="btn" id="create">Create Review</a>
            <br>
            <br>
            <div id="review-link"></div>
            <div id="results-link"></div>
        </div>
    </body>
</html>

