<!DOCTYPE html>
<html>
    <head>
        @common()
        <script>
            $(function() {
                $("#email").keypress(function(event) {
                    if (event.which == 13) {
                        event.preventDefault();
                        $("#signin").click();
                    }
                });
                $("#password").keypress(function(event) {
                    if (event.which == 13) {
                        event.preventDefault();
                        $("#signin").click();
                    }
                });
                $('#signin' ).click(function() {
                    $.ajax({type: "POST", url: "/signIn", data: $("form").serialize(), dataType: 'json', success: function(data) {
                    if (data.badLogin)
                        $('#signin-error').html("Please try again").css("color","red").css("margin-top","-50px");
                    else
                        window.location.replace("/")
                    }});
                });
            });
    </script>
    </head>
    <body>
        @header(None)
        <div class="flex-center">
            <form class="slender-form" id="form" action="/profile" method="POST">
                Sign In
                <br>
                <span id="signin-label" class="input-label left">Email </span><input class="text-input right" id="email" name="email">
                <span class="input-label left">Password </span><input class="text-input right" id="passwordHash" name="passwordHash">
                <br><br><br><br><br>
                <a id="signin" class="btn">Sign In</a>
            </form>
            <span id="signin-error"></span>
        </div>
    </body>
 </html>